.gallery-item {
  margin: 10px 0px;
  border: 1px solid gray;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center;

  .gallery-item-center-text-container {
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: 160px;
    display: flex;
    flex-flow: column;

    .gallery-item-project-category-container {
      background-color: gray;
      text-align: center;
      padding: 3px 0px;
    }

    .gallery-item-title-and-subtitle-container {
      .gallery-item-title-container {
        text-align: center;
      }

      .gallery-item-subtitle-container {
        text-align: center;
      }
    }
  }
}
