.gallery-item {
  padding: 20px;
  margin: 10px 0px;
  border: 1px solid gray;
  display: flex;

  .gallery-item-left-panel {
    border: 1px solid blue;
    height: 300px;
    width: 300px;
    flex: 0 0 auto;

    .gallery-item-cover-photo {
      width: 100%;
      object-fit: scale-down;
      // height: 400px;
    }
  }

  .gallery-item-right-panel {
    border: 1px solid red;
    flex: 1 1 auto;
  }
}
