@import './colors';
@import './constants.scss';

.nav-bar-container {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-bar-branded-area {
    cursor: pointer;

    .name-text {
      color: $nameTextColor;
      text-decoration: none !important;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 45px;
    }

    .title-text {
      text-transform: uppercase;
      color: $titleTextColor;
      font-weight: 600;
      font-size: 16px;
    }
  }

  .nav-links-container {
    padding-right: 15px;

    #nav {
      display: inline-block;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 0;

      .nav-link-li {
        list-style-type: none;
        // margin: 0px 10px;
      }

      li {
        // font-weight: 600;
        letter-spacing: 0.3px;
        text-decoration: none;
        display: inline-block;
      }

      .nav-slider {
        height: 0.2rem;
        margin-top: 3px;
        background: $navUnderlineColor;
        border: none;
        transition: 0.3s ease-in-out;
        display: block;
      }
    }

    @media screen and (min-width: 768px) {
      #nav hr {
        height: 0.2rem;
        margin-top: 3px;
        background: $navUnderlineColor;
        border: none;
        transition: 0.3s ease-in-out;
        display: block;
      }
    }

    .nav-link {
      // border: 1px solid blue;
      display: inline-block;
      margin-right: 30px;
      color: $linksTextColor;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 12pt;
    }

    .contact-button {
      display: inline-block;
      padding: 5px;
      background-color: $siteBackgroundColor;
      border: 2px solid $contactButtonColor;
      color: $contactButtonColor;
      font-family: IBM Plex Sans;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: $contactButtonColor;
        color: white;
      }
    }
  }
}

/* All mozilla versions */
@-moz-document url-prefix() {
  #nav hr {
    float: left;
  }
}

.nav-is-selected {
  font-weight: bold;
}

@media only screen and (max-width: $mobileBreakpoint) {
  .nav-bar-container {
    flex-flow: column;
    height: unset;
    padding-left: 10px;
    justify-content: unset;
    align-items: unset;

    .nav-bar-branded-area {
      // border: 1px solid red;
      display: flex;
      flex-flow: column;
      margin: 10px 0px;

      .name-text {
        font-size: 32px;
      }
    }

    .nav-links-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
