@import '../../styles/colors';

.hidden-project-notification{
  color: black;
  background-color: $accentBlue;
  padding: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  > div{
    margin: 5px;
  }

  &__message{

  }

  &__entry-container{
    .pw-form{
      position: relative;
      display: flex;
      justify-content: center;
      &__input{
        -webkit-appearance: none;
        background-color: black;
        color: white;
        height: 28px;
        margin-right: 10px;
        padding-left: 5px;
        border: none !important;

        &:focus{
          outline: none !important;
        }
      }

      &__submit{
        background-color: black;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 0px 5px;
        cursor: pointer;

        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }
}